<%
	tags = @object.then([:respond_to?, :tags]){chain(:tags, :length, [:>, 0])}
	detail = @object.then([:respond_to?, :details]){chain(:details, :length, [:>, 0])} || @object.then([:respond_to?, :items]){chain(:items, :length, [:>, 0])}
	activity = @object.then([:respond_to?, :activity]){chain(:activity, :entry_id)} 
	extras = tags || detail || activity
%>		<div class="activity, <%= (@object.activity.foreground) ? 'foreground' : 'background' %>">
			<span class="timestamp"><%= @object.timestamp.textualize %>: </span>
			<span class="start_time"><%= @object.activity.start.textualize if @object.activity.start %>: </span>
			<span class="end_time"><%= @object.activity.end.textualize if @object.activity.end %>: </span>
			<span class="text"><%= @object.text %></span><% if extras then %><%= 
				"\n"+@partial.call(:tags) if tags %><%=
				"\n"+@partial.call(:detail) if detail %><%= 
				"\n"+@partial.call(:tracking) if activity %><% end %>
		</div>
